<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

</head>
<body>
	<div v-cloak class="wrapper wrapper-content" id="ngt">


		<div class="row" v-show="showList">
			<div class="col-lg-12">
				<div class="ibox">
					<div class="ibox-title">
						<h5>公司列表</h5>

					</div>
					<div class="ibox-content">

						<div class="table-responsive">
							<div id="DataTables_Table_0_wrapper"
								class="dataTables_wrapper form-inline dt-bootstrap">

								<div class="row">
									<div class="col-lg-12">
										<div class="ibox">
											<span>公司名称：</span> <input class=" form-control" type="text" maxlength="64" v-model="companyName">

											<button class="btn btn-primary " type="button" @click="search();"><i class="fa fa-search"></i>&nbsp;查询</button>
											<button class="btn btn-primary" type="button" @click="reset();"><i class="fa fa-search"></i>&nbsp;重置</button>

										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12" id="pull-left">
										<div class="pull-left">
										<button class="btn btn-primary " type="button" @click="initAdd();"><i class="fa fa-plus-square"></i>&nbsp;添加</button>
									<button class="btn btn-primary " type="button" @click="deleteAll();"><i class="fa fa-times-circle"></i>&nbsp;删除</button>

										</div>
									</div>
								</div>



								<table
									class="table table-striped table-bordered table-hover dataTables-example dataTable"
									id="DataTables_Table_0"
									aria-describedby="DataTables_Table_0_info" role="grid">
									<thead>
										<tr role="row">
											<th tabindex="0" width="50px;">
											<div class="checkbox checkbox-success checkbox-inline">
														<input class="checkbox checkbox-success" id="all" type="checkbox" :checked="allCheck" @click="checkAll();">
				                                            
				                                            <label for="all"> </label>
                                        				</div>
											</th>
											<th>编号</th>
											<th>公司名称</th>
											<th>公司类型</th>
											<th width="100">操作</th>
										</tr>
									</thead>
									<tbody>
										<tr class="gradeA odd" role="row" v-for="(item,index) in list">
											<td>
											<div class="checkbox checkbox-success checkbox-inline">
				                                            <input type="checkbox" :id="'child' + index" :value="item.id" @click="selectedItem(item)" 
														:checked="item.ischecked" class="checkbox checkbox-success">
				                                            <label :for="'child' + index"> </label>
                                        				</div>
											</td>
											<td>{{ item.id}}</td>
											<td>{{ item.name }}</td>
											<td v-if="item.type==0">单一</td>
											<td v-else-if="item.type==1">集团</td>
											<td v-else></td>
											<td>
												<div class="btn-group">
															<button class="btn-white btn" type="button" title="修改" @click="initUpdate(item.id)"><i class="fa fa-edit text-navy"></i></button>
															<button class="btn-white btn" type="button" title="删除" @click="deleteItem(item.id)"><i class="fa fa-remove text-navy"></i></button>
																
												</div>
											</td>
										</tr>
									</tbody>
								</table>
								<pageination :total="page.total" :size="page.size"
									:page="page.curPage" :changge="pageFn"></pageination>

							</div>

						</div>

					</div>
				</div>
			</div>
		</div>


		<!-- add -->

		<div class="row" v-show="!showList">
			<div class="col-lg-12">
				<div class="ibox float-e-margins panel panel-primary">
					<div class="ibox-title panel-heading">
						<h5>{{actionName}}公司</h5>
					</div>
					<div class="ibox-content panel-body">
						<form id="form" method="get" class="form-horizontal"
							data-parsley-validate="" onsubmit="return false">
							<input type="hidden" name="id" v-model="companyVO.id" />
							<div class="form-group">
								<label class="col-sm-2 control-label"><font color="red">*</font>公司名称：</label>

								<div class="col-sm-4">
									<input name="name" v-model="companyVO.name" type="text"
										class="form-control" maxlength="50"
										data-parsley-length="[2, 50]"
										data-parsley-length-message="公司名称在2-50个字符之间" required=""
										data-parsley-required-message="公司名称 为必填字段" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label"><font color="red">*</font>公司类型：</label>

								<div class="col-sm-4">
									<select name="type" v-model="companyVO.type"
										class="form-control m-b" required=""
										data-parsley-required-message="公司类型 为必填字段">

										<option value="">--请选择--</option>
										<option v-for="item in dictItemList" :value="item.id">{{item.name}}</option>

									</select>

								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-4 col-sm-offset-3">

									<button class="btn btn-primary" type="submit" @click="save();">保存</button>
									<button class="btn btn-white btn-pad" type="button" @click="cancle();">取消</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>

</html>


<script type="text/javascript" th:src="@{/public/js/sys/company.js}"></script>







